// $blue: #0077a8;

$laranja: #d58b49;
$cinza-maisclaroainda: #f1f1f1;
$cinza-claro: #d1d1d1;
$cinza-medio: #707070;
$cinza-escuro: #505050;
$cinza-maisescuroainda: #646464;
$braco: #ffffff;
$azul: #0077a8;
$preto: #000000;

$font-size-base: 1.3rem;

$theme-colors: (
    "primary": $azul,
);
// $form-feedback-valid-color: $azul !important;

// $btn-border-radius: 50px;
