<navbar></navbar>

<div class="container">
    <div class="row mt-5">
        <div class="col-10">
            <h3>Clientes</h3>
        </div>
        <div class="col-2 d-flex" style="justify-content: flex-end;">
            <button class="btn btn-primary" (click)="doDetail()">Adicionar</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 table-responsive">
            <table class="table table-hover table-sm table-clicked">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Criado Em</th>
                    </tr>
                </thead>
                <tbody *ngIf="apiResult">
                    <tr *ngFor="let client of apiResult" (click)="doDetail(client)">
                        <td>{{ client.name | uppercase }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.cpf | mask:'000.000.000-00||00.000.000/0000-00' }}</td>
                        <td>{{ client.phone | mask:'(00) 0 0000-0000' }}</td>
                        <td>{{ client.createdAt | date:'dd/MM/YYYY HH:mm:ss' }}</td>
                    </tr>
                </tbody>
                <tfoot *ngIf="!apiResult">
                    <tr>
                        <td colspan="7">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
                <tfoot *ngIf="apiResult && apiResult.length == 0">
                    <tr>
                        <td colspan="7">
                            <div class="d-flex justify-content-center">
                                {{ apiResultMessage }}
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>